.brand-container {
  display: flex !important; 
  align-items: center;

  .brand-image {
    width: 55px; 
    height: 62px;
  }

  .betr-name {
    padding-left: 10px;
    font-size: 26px;
    color: #fff;
  }
}

.betr-faq {
  li {
    font-weight: 500;
  }
}

.hidden {
  display: none;
}

.header-aligner {
  width: 100%;
  display: flex;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.bet-success-modal {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 20px;
  max-width: 500px;
  box-shadow: 16px 16px 47px 2px rgba(0,0,0,0.40);
  .close-bet-modal {
    float: right;
    margin-top: 20px;
  }
}

.bet-success-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(66, 66, 66, 0.5);
}
