.brand-container {
  display: flex !important; 
  align-items: center;

  .brand-image {
    width: 55px; 
    height: 62px;
  }

  .betr-name {
    padding-left: 10px;
    font-size: 26px;
    color: #fff;
  }
}

.betr-faq {
  li {
    font-weight: 500;
  }
}

.hidden {
  display: none;
}

.header-aligner {
  width: 100%;
  display: flex;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}
